@import "tailwindcss";

@theme {
  --background-color: #212121;
  --white-color: #fff;
  --gray-color: #aaa;
  --background-color-2: #121212;
  --border-color: #303030;
  --black: #000;
  --font-family: "Roboto", sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden; 
}
body {
background: var(--black);
}
aside::-webkit-scrollbar {
  width: 8px; 
}

aside::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 8px;   
}

aside::-webkit-scrollbar-thumb {
  background-color: #888888; 
  border-radius: 8px;        
  border: 2px solid #f0f0f0; 
}

aside::-webkit-scrollbar-thumb:hover {
  background-color: #555555; 
}

aside {
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0; 
}